
<div class="footer text-light">
    <div
      class="container content d-flex justify-content-center text-center w-100"
    >
      <div class="location">
        <h4>LOCATION</h4>
  
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="web d-flex flex-column align-items-center">
        <h4>AROUND THE WEB</h4>
        <div class="icons d-flex justify-content-evenly align-items-center">
          <div class="icon"><i class="fa-brands fa-facebook"></i></div>
          <div class="icon"><i class="fa-brands fa-twitter"></i></div>
          <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
          <div class="icon"><i class="fa-solid fa-globe"></i></div>
        </div>
      </div>
      <div class="about">
        <h4>ABOUT FREELANCER</h4>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
    <div class="copyright m-auto text-center">Copyright © Your Website 2021</div>
  </div>
  