<div
  class="content d-flex justify-content-center align-items-center flex-column text-color pt-4"
>
  <h2 class="h1">CONATCT SECTION</h2>
  <div class="before"></div>
  <i class="fa-solid fa-star"></i>
  <div class="after"></div>
</div>
<form action="">
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="userName"
  />
  <label for="floatingInput">Email address</label>
  <input type="number" class="form-control s" placeholder="userAge" />
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="userEmail"
  />
  <input
    type="password"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="userPassword"
  />
  <button class="btn btn-bg text-white my-4">Send Message</button>
</form>
